<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Express Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <% if (checkIsAuth) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/create-blog">create blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" onclick="return confirm('logout')">logout</a>
                    </li>
                <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">login</a>
                    </li>
                <% } %>
               
            </ul>
        </div>
    </div>
</nav>