// @font-face {
//   font-family: 'bangla';
//   src: url("/assets/fonts/bangla_fonts/Li\ Alinur\ Tatsama\ ANSI\ V2.ttf");
// }
@font-face {
  font-family: "bangla-font";
  src: url("../fonts/bangla_font/TiroBangla-Regular.ttf");
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url("../fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: 'Poppins-Black';
  src: url("../fonts/Poppins-Black.ttf");
}
