/* color veriable */
// $brand_color:#5ccccf;
// $brand_color:#2e909e;
$brand_color:#5dabbe;
// $brand_color:#4f0a36;
$brand_transfarent_color:rgb(92 204 207 / 50%);

$white:#ffffff;
$blue_white:#f2f4f8;
$off_white:#f9f9f9;
$black:black;
$button_black:#292929;
$button_transfarent_black:rgb(41 41 41 / 50%);
$deep_black:#666;
$light_black:#999;
$border_black:#e2e2e2;


/* dark_mode_color */

/* font name */
$font_Thin:'Poppins-Thin';
$font_ExtraLight:'Poppins-ExtraLight';
$font_Light:'Poppins-Light';
$font_Regular:'Poppins-Regular'; /* 400 */
$font_Medium:'Poppins-Medium'; /* 500 */
$font_SemiBold:'Poppins-SemiBold'; /* 600 */
$font_Bold:'Poppins-Bold'; /* 700 */
$font_ExtraBold:'Poppins-ExtraBold'; /* 800 */
$font_Black:'Poppins-Black';

$font_bangla:'bangla-font';
/* border */
$border: 0px solid red;
