// related_item_area start
.related_item_area {
    border-bottom: 1px solid $brand_color;
    border-top: 1px solid $brand_color;
    padding: 20px 0px;
    // margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    h4{
        margin: 20px;
    }

    // edit_details_social_work_card area start
    .edit_details_social_work_card {
        width: 140px;
        height: 100px;
        // overlay-area start
        .overlay-area {
            border: $border;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            padding: 5px;
            transition-duration: 0.4s;
            .overlay-area_content {
                background-color: $button_transfarent_black;
                background-color: #000000b0;
                height: 100%;
                padding: 5px;
                border: 1px solid $brand_color;
                align-items: end;
                display: grid;
                position: relative;
                .video_icon_area {
                    border: $border;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    .video_icon {
                        border: $border;
                        width: 25px;
                        height: 25px;
                        border: 1px solid $brand_color;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        i {
                            border: $border;
                            color: $brand_color;
                            font-size: 12px;
                        }
                    }
                }
                .image_title {
                    border: $border;
                    .title_text {
                        border: $border;
                        font-family: $font_bangla;
                        font-size: 10px;
                        // font-weight: bold;
                        // color: $brand_color;
                        color: $brand_color;
                    }
                }
            }
        }
        // overlay-area end
    }
    // edit_details_social_work_card area end

    // edit_details_news_item_card start
    .edit_details_news_item_card {
        border: $border;
        width: 308px;
        height: 180px;
        //    layout_area start
        .layout_area {
            .item_date_and_title_area {
                .title_area {
                    .title_text {
                        font-size: 12px;
                    }
                }
            }
        }
        //    layout_area end
    }
    // edit_news_item_card end

    // edit_details_book_card start
    .edit_details_book_card {
        .book_card_item {
            width: 220px;
            .image_area {
                height: 130px;
                padding: 20px;
                img {
                    object-fit: contain;
                }
            }
            .image_title_and_description_area {
                min-height: 130px;
                .title_text {
                    font-size: 14px;
                }
                .description_text {
                    font-size: 12px;
                }
            }
        }
    }
    // edit_details_book_card end

    // edit_details_inner_blog_card start
    .edit_details_inner_blog_card {
        width: 229px;
        height: 180px;
        .overlay_area{
            .blog_title{
                .title_area{
                    .title_text{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    // edit_details_inner_blog_card end

    // edit_details_union_porishad_card_area start
    .edit_details_union_porishad_card_area{
        .image{
            width: 229px;
            height: 151px;
        }
    }
     // edit_details_union_porishad_card_area end
}
// related_item_area end
.related_item_area_top{
h4{
    font-weight: 600;
    padding: 20px 0px;
    @include xs(){
        font-size: 14px;
        padding: 10px 0px;
    }
}
}
// inner_details_page start
.inner_details_page {
    border: $border;
    // inner_item_details start
    .inner_item_details {
        border: $border;
        margin-top: 40px;
        @include xs(){
            margin-top: 20px;
        }

        .image_area {
            border: $border;
            width: 100%;
            height: 450px;
            padding: 20px 0px;
            @include xs(){
                height: 100%;
            }
            img {
                border: $border;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .book_review {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .date_and_comment_area {
            border: $border;
            display: flex;
            justify-content: space-between;
            padding: 20px 0px;
            border-bottom: 1px solid $brand_color;
            @include xs(){
                padding: 10px 0px;
            }
            .date_comment_area {
                border: $border;
                align-items: center;
                display: flex;
                .date_comment_area_text {
                    border: $border;
                    font-family: $font_bangla;
                    font-size: 16px;
                    color: $brand_color;
                    @include xs(){
                        font-size: 12px;
                    }
                    .color_text {
                        border: $border;
                        color: $light_black;
                        @include xs(){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .title-area {
            border: $border;
            margin: 40px 0px 30px 0px;
            @include xs(){
                margin: 20px 0px 10px 0px;
            }

            .title-area_text {
                border: $border;
                font-family: $font_bangla;
                font-size: 30px;
                color: $black;
                font-weight: bold;
                line-height: 44px;
                text-align: justify;
                @include xs(){
                    font-size: 16px;
                }
            }
        }
        .item_description_area {
            border: $border;
            gap: 25px;
            display: grid;
            @include xs(){
                gap: 15px;
            }
            .description_text {
                border: $border;
                font-family: $font_bangla;
                font-size: 16px;
                // color: $deep_black;
                color: #141414;
                line-height: 26px;
                text-align: justify;

                @include xs(){
                    font-size: 2px;
                }
            }
        }
    }
    // inner_item_details end
}
// inner_details_page end
