// scroll_button_area start
.scroll-button{
    border: $border;
    width: 50px;
    height: 50px;
    background-color: $brand_color;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid white;
    position: fixed;
    right: 40px;
    bottom: 60px;
    z-index: 99;
    transition-duration: .4s;
    @include xs(){
        // left: 100px;
        right: 40px;
        // border: 2px solid red;
    }
    &:hover{
        background-color: $black;
        
    }
    .icon{
        border: $border;
        i{
            border: $border;
            color: $white;
            font-size: 22px;
        }
    }
}
// scroll_button_area end