nav {
    height: calc(100vh - 61px);
    overflow-y: scroll;

    /* Customize the scrollbar */
    nav::-webkit-scrollbar {
        width: 10px;
    }

    nav::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    nav::-webkit-scrollbar-thumb {
        background: #888;
    }

    ul {
        li {
            margin-bottom: 5px;

            .nav_link {
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover,
                &.active {
                    background-color: var(--black_300);
                    color: var(--black_900);
                    font-weight: 700;

                    .dark & {
                        background-color: var(--black_600);
                        color: var(--black_400);
                    }
                }

                .drop_down_title,
                a {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 10px;
                    flex: 1;

                    .icon {
                        font-size: 20px;
                    }

                    .text {
                        font-size: 16px;
                        letter-spacing: 1.5px;

                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }
                }

                .more {
                    cursor: pointer;
                }

            }

            &:has(>.nav_link.active) {
                ul {
                    display: block;
                }
            }

            ul {
                padding-left: 20px;
                margin-top: 15px;
                margin-bottom: 30px;
                display: none;

                li {
                    .nav_link {
                        &:hover {
                            background-color: unset;
                        }

                        a {
                            padding: 3px 0px;
                            flex: 1;
                            transition-duration: unset;

                            span {
                                transition-duration: unset;
                            }

                            .icon {
                                font-size: 14px;
                            }
                        }

                        &.active,
                        &:hover {
                            background: unset;

                            .dark & {
                                // background-color: var(--black_600);
                                background-color: unset;
                            }

                            color: var(--black_900);

                            a {
                                .icon {
                                    font-weight: 400;
                                    position: relative;
                                    font-size: 25px;

                                    &::after {
                                        content: '\e315';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background-color: var(--black_50);

                                        .dark & {
                                            background-color: var(--black_800);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .logout_button{
        text-align: center;
        margin-top: 10px;
        button{
            padding: 5px 15px;
            border-radius: 5px;
            font-weight: 600;
        }
    }
}
