// .social_work_area start
.social_work_area {
    border: $border;
    background-color: $white;
    padding: 80px 0px;
    margin: 0px 40px 0px 40px;
    overflow: hidden;
    position: relative;
    @include xs(){
        padding: 20px  0px;
        margin: 0px 40px 0px 40px;
    }
    &::after {
        content: "";
        width: 50%;
        height: 30%;
        background-image: url(../images/bg_dote_image/bg_dote.png);
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    &::before {
        content: "";
        width: 40%;
        height: 40%;
        background-image: url(../images/bg_dote_image/bg_dote.png);
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .social_work_area_content {
        border: $border;
        position: relative;
        z-index: 1;
        .social_work_all_item {
            border: $border;
            margin: 80px 0px 40px 0px;
            @include xs(){
                margin: 40px 0px 20px 0px;
            }
            ul {
                border: $border;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                @include xs(){
                    gap: 10px;
                }
                .item_area {
                    border: $border;
                    @include xs(){
                        width: 100%;
                    }
                }
            }
        }
    }
}
// .social_work_area end
