.swal2-popup {
    background: var(--brand_color3) !important;
    border: 1px solid var(--brand_color2) !important;
}

.swal2-title {
    color: var(--brand_white2) !important;
}

.swal2-styled.swal2-confirm{
    background-color: var(--brand_color2) !important;
}
