// contact_page start
.contact_page {
    border: $border;
    overflow-x: hidden;
    padding-top: 80px;
    position: relative;
    &::before {
        content: "";
        width: 40%;
        height: 40%;
        background-image: url(../images/bg_dote_image/bg_dote.png);
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .contact_page_content {
        border: $border;
        position: relative;
        z-index: 1;
        // content_left_and_right_area start
        .content_left_and_right_area {
            margin: 80px 0px 0px 0px;

            // background-color: $white;
            // contact_area_left start
            .contact_area_left {
                border: $border;
                // margin-bottom: 100px;
                @include xs {
                    margin-bottom: 50px;
                }
                @include sm {
                    margin-bottom: 50px;
                }
                // content_area start
                .content_area {
                    border: $border;
                    margin-bottom: 35px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .content_area_icon_and_title {
                        border: $border;
                        display: flex;

                        .content_area_icon {
                            border: $border;
                            // margin-right: 10px;
                            align-items: center;
                            display: flex;
                            width: 25px;
                            height: 27px;

                            i {
                                border: $border;
                                font-size: 15px;
                                color: $brand_color;
                            }
                        }
                        .content_area_title {
                            border: $border;
                            align-items: center;
                            display: flex;
                            .text {
                                border: $border;
                                font-family: $font_SemiBold;
                                font-size: 18px;
                                // line-height: 22px;
                                color: $brand_color;
                                font-weight: bold;
                            }
                        }
                    }
                    .content_text {
                        border: $border;
                        margin: 15px 0px 15px 25px;
                        .text {
                            border: $border;
                            color: $light_black;
                            transition-duration: 0.4s;
                            font-size: 16px;
                            font-family: $font_bangla;
                            &:hover {
                                // color: $off_white;
                                color: $brand_color;
                            }
                        }
                        .phone_number {
                            display: block;
                        }
                        .email_text {
                            text-transform: lowercase;
                        }
                        ul {
                            border: $border;
                            display: flex;
                            gap: 10px;
                            li {
                                border: $border;
                                a {
                                    border: $border;
                                    width: 30px;
                                    height: 30px;
                                    align-items: center;
                                    display: flex;
                                    justify-content: center;
                                    transition-duration: 0.4s;
                                    border: 1px solid $brand_color;
                                    &:hover {
                                        border: 1px solid transparent;
                                    }
                                    i {
                                        border: $border;
                                        color: $brand_color;
                                        font-size: 16px;
                                        transition-duration: 0.4s;
                                    }
                                }
                            }
                        }
                    }
                    .phone_text {
                        gap: 10px;
                        display: grid;
                    }
                }
                // content_area end
            }
            // contact_area_left end
            // contact_area_right start
            .contact_area_right {
                border: $border;
                @include sm {
                    margin-bottom: 50px;
                }
                form {
                    border: $border;
                    .rirst_name_and_second_name_area {
                        display: flex;
                        justify-content: space-between;
                        @include xs {
                            display: block;
                        }
                    }
                    .form_item {
                        .first_name_area {
                        }
                        .second_name_area {
                        }
                        label {
                            border: $border;
                            display: block;
                            font-size: 18px;
                            font-weight: bold;
                            font-family: $font_bangla;
                            color: $brand_color;
                        }
                        input {
                            border: $border;
                            font-size: 18px;
                            font-family: $font_bangla;
                            color: $light_black;
                            width: 100%;
                            padding: 10px 10px 10px 0px;
                            border-bottom: 1px solid $brand_color;
                            margin-bottom: 35px;
                            outline: 0;
                            background-color: transparent;
                        }
                        textarea {
                            border: $border;
                            width: 100%;
                            height: 150px;
                            padding: 10px 10px 10px 0px;
                            border-bottom: 1px solid $brand_color;
                            margin-bottom: 35px;
                            outline: 0;
                            background-color: transparent;
                            color: $light_black;
                        }
                    }
                    .submit_button {
                        border: $border;
                        width: 100%;
                        font-size: 18px;
                        font-family: $font_SemiBold;
                        color: white;
                        background-color: $brand_color;
                        padding: 5px 0px;
                        border: 1px solid transparent;
                        transition-duration: 0.4s;
                        &:hover {
                            background-color: transparent;
                            border-color: $brand_color;
                            color: $brand_color;
                            i {
                                color: $brand_color;
                            }
                        }

                        i {
                            border: $border;
                            font-size: 16px;
                            color: white;
                            margin-right: 10px;
                            transition-duration: 0.4s;
                        }
                    }
                }
            }
            // contact_area_right end
        }
        // content_left_and_right_area end
    }
}
// contact_page end
