<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/fonts/google_icon/google_icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/backend/styles/style.css">
    <script src="/backend/js/axios.js"></script>
    <script src="/backend/js/custom.js"></script>
    <script src="/backend/app/react-dashboard.js" type="module" defer></script>
    <script src="/backend/js/sweetalert.js"></script>
</head>
<body>
    <div id="app" class="dark"></div>
</body>
</html>